<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logoUCNE.png" type="image/x-icon" />
    <base href="/" />

    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="_content/Blazor.Bootstrap/blazor.bootstrap.css" />

    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["RegistroUCNE.styles.css"]" />

    <link rel="stylesheet" href="css/form.css" />
    <link rel="stylesheet" href="css/registros.css" />
    <link rel="stylesheet" href="css/ucne.css" />
    <link rel="stylesheet" href="css/modal.css" />

    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    <script>
        window.BlazorDownloadFile = (fileName, contentType, base64Data) => {
            const link = document.createElement('a');
            link.download = fileName;
            link.href = `data:${contentType};base64,${base64Data}`;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };
    </script>

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
