@inherits LayoutComponentBase
@layout RegistroUCNE.Components.Layout.MainLayout

<h1>Administrar tu cuenta</h1>

<div>
    <h2>Cambiar la configuración de tu cuenta</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>
