@inject NavigationManager Navigation
@inject SessionService session

<div class="top-row ps-3 d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <img src="/images/logoUCNE.png" style="width: 100%" />
            </div>

            <div class="col-9 d-flex align-items-center">
                <a class="navbar-brand">UCNE</a>
            </div>
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column justify-content-between h-100">
        <div>
            <div class="nav-item px-3">
                <a class="nav-link btn btn-link text-start" href="/ucne/inicio">
                    <span class="bi bi-house-door fs-4 mb-4" aria-hidden="true"></span>
                    <span class="nav-text">Inicio</span>
                </a>
            </div>

            <div class="nav-item px-3">
                <a class="nav-link btn btn-link text-start" href="/ucne/registros">
                    <span class="bi bi-file-text-fill fs-4 mb-4" aria-hidden="true"></span>
                    <span class="nav-text">Registros Académicos</span>
                </a>
            </div>

            <div class="nav-item px-3">
                <a class="nav-link btn btn-link text-start" href="/ucne/registro-estudiantes">
                    <span class="bi bi-person-plus-fill fs-4 mb-4" aria-hidden="true"></span>
                    <span class="nav-text">Estudiantes</span>
                </a>
            </div>

            <div class="nav-item px-3">
                <a class="nav-link btn btn-link text-start" href="/ucne/registro-registradores">
                    <span class="bi bi-person-badge-fill fs-4 mb-4" aria-hidden="true"></span>
                    <span class="nav-text">Registradores</span>
                </a>
            </div>
        </div>

        <div class="nav-item px-3 mb-3">
             <a class="nav-link btn btn-link text-start text-warning" href="/ucne/habilitar">
                <span class="bi bi-arrow-repeat fs-4 mb-4" aria-hidden="true"></span>
                <span class="nav-text">Reactivar Entidades</span>
            </a>

            <a class="nav-link btn btn-link text-start text-info" href="/ucne/ayuda-llenado">
                <span class="bi bi-info-circle-fill fs-4 mb-4" aria-hidden="true"></span>
                <span class="nav-text">Ayuda / Guía</span>
            </a>

            <a class="nav-link btn btn-link text-start text-secondary" href="/ucne/configuracion-sistema">
                <span class="bi bi-gear fs-4 mb-4" aria-hidden="true"></span>
                <span class="nav-text">Configuración</span>
            </a>

            <a class="nav-link btn btn-link text-start text-success" href="/ucne/creditos">
                <span class="bi bi-stars fs-4 mb-4" aria-hidden="true"></span>
                <span class="nav-text">Créditos</span>
            </a>

            <button class="nav-link btn btn-link text-start text-danger fw-bold" @onclick="CerrarSesion">
                <span class="bi bi-box-arrow-right fs-4 mb-4" aria-hidden="true"></span>
                <span class="nav-text">Cerrar Sesión</span>
            </button>
        </div>
    </nav>
</div>

@code {
    private void CerrarSesion() 
    {
        session.RegistradorId = 0;
        Navigation.NavigateTo("/", forceLoad: true);

    }
}
