@page "/Account/Lockout"

<PageTitle>Cuenta bloqueada</PageTitle>

<header>
    <h1 class="text-danger">Cuenta bloqueada</h1>
    <p class="text-danger" role="alert">Esta cuenta ha sido bloqueada. Intenta nuevamente más tarde.</p>
</header>
