@page "/Account/Login"
@layout EmptyLayout

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using RegistroUCNE.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Iniciar Sesión</PageTitle>

<div class="container-fluid">
    <div class="card shadow-lg">
        <div class="card-header">
            <img src="/images/logoUCNE.png" class="logo-ucne" alt="Logo UCNE" />
            <h1 class="card-title">Universidad Católica Nordestana</h1>
        </div>

        <EditForm EditContext="editContext" method="post" OnSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator />

            <div class="card-body">
                <h4 class="card-title text-center"><strong>Iniciar Sesión</strong></h4>

                <StatusMessage Message="@errorMessage" />

                <div class="mb-3">
                    <label class="form-label"><strong>Usuario</strong></label>
                    <InputText class="form-control" @bind-Value="Input.Username" placeholder="Nombre de usuario" />
                    <ValidationMessage For="() => Input.Username" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Contraseña</strong></label>
                    <InputText type="password" class="form-control" @bind-Value="Input.Password"
                        placeholder="Contraseña" />
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>

                <div class="form-check mb-3">
                    <InputCheckbox @bind-Value="Input.RememberMe" class="form-check-input" />
                    <label class="form-check-label">
                        Recordarme
                    </label>
                </div>
            </div>

            <div class="card-footer">
                <button class="btn btn-success w-100" type="submit">
                    Acceder
                </button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private string? errorMessage;
    private EditContext editContext = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();

        editContext = new EditContext(Input);

        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        SignInResult result;

        // If doing a password sign-in, validate the form.
        if (!editContext.Validate())
        {
            return;
        }

        var user = await UserManager.FindByNameAsync(Input.Username);
        if (user == null)
        {
            errorMessage = "Credenciales incorrectas.";
            return;
        }

        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        result = await SignInManager.PasswordSignInAsync(user.UserName!, Input.Password, Input.RememberMe, lockoutOnFailure:
        false);

        if (result.Succeeded)
        {
            Logger.LogInformation("Usuario inició sesión.");
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.IsLockedOut)
        {
            errorMessage = "La cuenta está bloqueada.";
        }
        else
        {
            errorMessage = "Usuario o contraseña incorrectos.";
        }
    }
    private sealed class InputModel
    {
        [Required(ErrorMessage = "Debe introducir su usuario.")]
        public string Username { get; set; } = "";

        [Required(ErrorMessage = "Debe introducir su contraseña.")]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Recordarme")]
        public bool RememberMe { get; set; }
    }
}